.navbar {
    list-style-type:none ;
    margin-left: auto;
    margin-block-start: auto;
  }
  
  .navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 0;
  }
  
  .navbar li {
    float:left;
  }
  
  .navbar li a {
    display:list-item ;
    padding: 8px 16px;
  }
  
  .navbar li a:hover {
    background-color: #ddd;
  }